/* Default styles for larger screens */
section {
  margin-bottom: 1em;
}

.toInput,
#inputFrom,
select,
#inputMessage {
  border-color: #2c98f0;
  width: 150px;
  height: 20px;
  border-radius: 6px;
}
#inputM{
  border-color: #2c98f0;
  border-radius: 6px;
  width: 180px;
  height: 40px;
}

body {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

#createCard {
  font-size: 30px;
  background-color: rgb(90, 90, 228);
  border-radius: 5px;
}

.container {
  margin: 0.02em;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr 2fr 0.5fr;
  grid-template-areas: "generator gutter card";
}
.container label,
h1 {
  color: #2c98f0;
}
.card {
  font-style: italic;
  margin: 1em auto;
  padding: 20px;
  background: white;
  border: 30px solid #3B0404;
  color: #000;
  border-radius: 5px;
}

.message {
  text-align: center;
  text-transform: capitalize;
}

.font-color {
  color: black;
}

.from {
  text-align: right;
}

.pattern {
  height: 20px;
  background-image: linear-gradient(90deg);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens here */
  body {
    font-size: 16px;
  }

  .toInput,
  #inputFrom,
  select,
  #inputMessage {
    width: 30%; /* Take up full width */
    margin-bottom: 10px; /* Add some spacing between elements */
  }

  #createCard {
    font-size: 24px;
  }

  .container {
    grid-template-columns: 1fr; /* Single column layout on smaller screens */
    grid-template-areas:
      "generator"
      "gutter"
      "card";
  }
}
