*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.contain{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E1F0DA;
  height: 97vh;
  gap: 40px;
}

section{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.generator{
  flex-basis: 20%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
  background-color: #D4E7C5;
}
button{
  margin-top: 10px;
  width: 25rem;
  height: 35px;
  border-radius: 5px;
  border: 1px solid black;
  
}
input{
 height: 35px;
  border-radius: 5px;
  border: 1px solid black;
}
select{
  height: 35px;
  border-radius: 5px;
  border: 1px solid black;
}
textarea{
  height: 70px;
  border-radius: 5px;
  border: 1px solid black;
}
.card{
  flex-basis: 30%;
 height: 83vh;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-color: #BFD8AF;
}